In [1]:
pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in /home/NGUIBGHQT2NL4AQHGLBZRYH7PHIVZSZP/.local/lib/python3.9/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install scikit-learn==1.3.2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn==1.3.2 in /home/NGUIBGHQT2NL4AQHGLBZRYH7PHIVZSZP/.local/lib/python3.9/site-packages (1.3.2)
Requirement already satisfied: joblib>=1.1.1 in /mnt/notebook-env/lib/python3.9/site-packages (from scikit-learn==1.3.2) (1.3.2)
Requirement already satisfied: scipy>=1.5.0 in /mnt/notebook-env/lib/python3.9/site-packages (from scikit-learn==1.3.2) (1.13.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /mnt/notebook-env/lib/python3.9/site-packages (from scikit-learn==1.3.2) (3.6.0)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /home/NGUIBGHQT2NL4AQHGLBZRYH7PHIVZSZP/.local/lib/python3.9/site-packages (from scikit-learn==1.3.2) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
#restart kernel after installing above packages

import psycopg2
import pandas as pd
import datetime
from s3fs.core import S3FileSystem
from datetime import timedelta
import datetime as dt # for dt.today
import numpy as np
import sklearn
import joblib

In [2]:
sklearn.__version__

'1.3.2'

In [3]:
today=dt.date.today()
date=datetime.date.today().replace(month=4) 

mnthid=str(date.year)+"-"+str(date.month)


ref_d1=datetime.date.today().replace(day=1) - timedelta(days=1)
ref_d2=ref_d1.replace(day=1) - timedelta(days=1)
ref_d3=ref_d2.replace(day=1) - timedelta(days=1)
ref_d4=ref_d3.replace(day=1) - timedelta(days=1)
ref_d5=ref_d4.replace(day=1) - timedelta(days=1)
ref_d6=ref_d5.replace(day=1) - timedelta(days=1)

login=pd.to_datetime(ref_d4).strftime("%Y-%m-%d")

ref_m1=ref_d1.year*100+ref_d1.month
ref_m2=ref_d2.year*100+ref_d2.month
ref_m3=ref_d3.year*100+ref_d3.month
ref_m4=ref_d4.year*100+ref_d4.month
ref_m5=ref_d5.year*100+ref_d5.month
ref_m6=ref_d6.year*100+ref_d6.month

In [4]:
mnthid

'2025-4'

In [1]:
ref_d3

NameError: name 'ref_d3' is not defined

In [5]:
AWS_ACCESS_KEY_ID="ASIA2OQVLFRSHMEGFM3V"
AWS_SECRET_ACCESS_KEY="NnqUPAqHRKj5T72yVHh0PdRstYj1BAjw2867X4zu"
AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEOD//////////wEaCmFwLXNvdXRoLTEiRjBEAiA0MWFRCSDQ6TNuRv3NFtC6ulOL9f11JhG9RLIpHmdo/gIgXggJIR4W+VGdr2JdnDCSu0Bz1+zQ/Xhh+xHgXLdDCDYqqAMIWRABGgw3MTgzNzgwNTI3MDgiDOYXTkUi6EqFI6dTCyqFA/zspqVdMPPaWpi5hQUViJqDoC9rMq91s8/dsFMDJxiBnOZK7lMkM4Mv+BWwjpOkuNbFeMJPIXWB2I0zbxTxBtOEcTY3RSJ1v9e/62Vc9HgGU09AdivvhdOww+ETSp1pDKtkT1RlP9cr6kaboxF6yPulzaUK8Id2ifyGPDKal4guhb7zykIMHdQmOnbrOE2LDqqBoh0ziGZsQ3Uh7P/jzkSPl1RnAbtDYNj4brbuGH5ecnugliWparPdr1DhzBkYfbOCmuWOngo5v3vM5WkYVf2Q3IwEgsm8EUK4EDkHzcRR5cVI28nRF96LbvNwuFrIfogOOx1rpy/KtmkJQsnwxKLiQYLrjKOifLbnKTBxLNs80vh0FCEoNteX33CJ1iaDvkIdsoA9eeMNViTDR4Cd7ZxpNtxpK8ZGJX4ZRQEY0yEqvDOe4+VfXd+Tl/BbckAoId2PvZVvYyr7tfd2WbhrimHTAnjlkMZEKT+hE1EKBaPM/k705PHB/iCBYJson9wmIjZVOghhMISDzr8GOqcBl8UABqhUjKDOt0J0dX8lBIz9LEsLjjdB6wuoSO/UjLqh3iHGkZ+Q+N75Heb051QPQ9U5Cu3T7CSscNizts7o4txqSQyGU1pwcndppq5+rKodZsdc7oL8jQvUNpCIcl+2ZSg3yuWID8c8kHZjL9Gd+f3HmEJSv+2EI92vFVr3z41xKZyT6VmkwolheCFWjWfDTJag4ZNPwyL2iLb6deFFel8+DcRw6lU="

s3 = S3FileSystem(anon=False, key = AWS_ACCESS_KEY_ID,
                 secret = AWS_SECRET_ACCESS_KEY,
                 token = AWS_SESSION_TOKEN)

In [6]:
host = "prod-de-redshift-cluster.cgjabuq7ccxq.ap-south-1.redshift.amazonaws.com"
port = "5439"
db = "prod_db"
username = "dsg_kmbl227932_anashwara"
password = "68vZb^qC" # password for redshift
uri = f"postgresql://{username}:{password}@{host}:{port}/{db}"




with psycopg2.connect(uri) as conn:
    sql =  """

with

saving as (
select accnt_num,max(crn) as crn, max(etl_updated_date) as etl_updated_date
    from dwh_cdr.dim_saving_account
    where current_flag='Y'
    group by accnt_num   
),
saving_crn as (
select distinct a.crn, a.accnt_num
from dwh_cdr.dim_saving_account a 
join saving b
 on a.accnt_num=b.accnt_num
    and a.etl_updated_date=b.etl_updated_date
    and accnt_cls_flag='N'
    and current_flag='Y'
and accnt_status ='A' 
),
indiv as (

select crn, max(etl_updated_date) as etl_updated_date
    from dwh_cdr.dim_individual_customer
    where current_flag='Y'
    group by crn   
),
indiv_crn as (
select distinct a.crn,cust_clssfcaton_code
    from dwh_cdr.dim_individual_customer a 
join indiv b
 on a.crn=b.crn
    and a.etl_updated_date=b.etl_updated_date
    where cust_clssfcaton_code in ('KNOW','KJIFI','KSEL','K_NOB')
    and current_flag='Y'
),

crns as (
select distinct  a.crn
from saving_crn a 
join indiv_crn b 
on a.crn=b.crn

),


  avg_amb as (
    select
      crn,
      case
    
        when m9_cr_amb > 0 then 1
        else 0
      end + case
        when m2_cr_amb > 0 then 1
        else 0
      end + case
        when m3_cr_amb > 0 then 1
        else 0
      end + case
        when m4_cr_amb > 0 then 1
        else 0
      end + case
        when m5_cr_amb > 0 then 1
        else 0
      end + case
        when m6_cr_amb > 0 then 1
        else 0
      end + case
        when m7_cr_amb > 0 then 1
        else 0
      end + case
        when m8_cr_amb > 0 then 1
        else 0
      end as cnt,
    case when cnt>0 then   (
        coalesce(m9_cr_amb, 0) + coalesce(m2_cr_amb, 0) + coalesce(m3_cr_amb, 0) + coalesce(m4_cr_amb, 0) 
        + coalesce(m5_cr_amb, 0) + coalesce(m6_cr_amb, 0) + coalesce(m7_cr_amb, 0) + coalesce(m8_cr_amb, 0) 
       
      ) / cnt else 0 end  as avg_amb
    from
      prod_db.dsg_portfolio.mom_amb
    where
      yr_id = 2024
      and prodct_type = 'SBA'
      and cnt > 0
  ),
  crdr as 
  (select crn,
   sum( case when month_year ={ref_m1} then cr_cnt else 0 end) as m1_cnt,

 sum( case when month_year ={ref_m2} then cr_cnt else 0 end) as m2_cnt,
  sum( case when month_year ={ref_m3} then cr_cnt else 0 end) as m3_cnt,
 sum( case when month_year ={ref_m4} then cr_cnt else 0 end) as m4_cnt,
 
 sum( case when month_year ={ref_m5} then cr_cnt else 0 end) as m5_cnt

  from prod_db.dsg_portfolio.mom_tran_crdr 
  
  group by crn 
  having ((m1_cnt+m2_cnt+m3_cnt+m4_cnt+m5_cnt)>0)
  ),
  target_1 as (
    select
      a.crn,
      a.accnt_opn_date,open_schme_code,current_schme_code,
      
      case when open_schme_code in ('LSJIFL','LSJIFW','SJIFW','SJIFL') then  fkyc_date else accnt_opn_date end as fkyc_date
          
    from   
      prod_db.dsg_services.funding_file_monthly a
      join avg_amb  b on a.crn = b.crn
      join crns c 
      on a.crn=c.crn
      
    where
      cast(fkyc_date as date) >= '2018-03-01'
      and cast(fkyc_date as date) <= '{ref_d3}'
and current_schme_code in ('LSJIFN','LSDIGI','SJIFN','SDIGI')   
and cust_clssfcaton_code in ('KNOW','KJIFI','KSEL','K_NOB')
and avg_amb>100
and accnt_cls_flag='N'
and accnt_status ='A'
and report_month =(select max(report_month) from dsg_services.funding_file_monthly)

and a.crn not in (
        select
          crn
        from
prod_db.dsg_portfolio.rel_td_account_details
        where
          prodct_code not like '%FF%'
          and prodct_code not like '%RD%'
            )
  )
  
select distinct a.crn, accnt_opn_date,open_schme_code,current_schme_code, fkyc_date
from
  target_1 a 
  join crdr b 
  on a.crn=b.crn
  -- try joining using filters of cr and dr , over period of x months eg 202205, 202212, 202305, 202312 
""".format(ref_d3=ref_d3,ref_m1=ref_m1,ref_m2=ref_m2,ref_m3=ref_m3,ref_m4=ref_m4,ref_m5=ref_m5)
    scoring_base = pd.read_sql_query(sql, conn)
scoring_base.to_csv(s3.open('s3://kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/fd_nu_scoring_live/scoring.csv', mode='wb'),index=False)
scoring_base.to_csv(s3.open('s3://kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/fd_scoring/month={mnthid}/scoring_{mnthid}.csv'.format(mnthid=mnthid), mode='wb'),index=False)

conn.close()

<ipython-input-6-cfbf0865be5e>:155: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  scoring_base = pd.read_sql_query(sql, conn)

In [7]:
scoring_base.shape

(10721541, 5)

In [8]:
host = "prod-de-redshift-cluster.cgjabuq7ccxq.ap-south-1.redshift.amazonaws.com"
port = "5439"
db = "mydb"
username = "dsg_kmbl227932_anashwara"
password = "68vZb^qC" # password for redshift
uri = f"postgresql://{username}:{password}@{host}:{port}/{db}"

con=psycopg2.connect(uri)

con.autocommit = True 
cursor = con.cursor()

# CREATE TABLE if not exists mydb.dsg_portfolio.fd_nu_scoring(crn varchar,accnt_opn_date date,open_schme_code varchar,current_schme_code varchar,fkyc_date date); 

copy_query= """
COPY mydb.dsg_portfolio.fd_nu_scoring from
's3://kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/fd_scoring_live/scoring.csv'
iam_role 'arn:aws:iam::718378052708:role/service-role/AmazonRedshift-CommandsAccessRole-20240513T161101'
CSV IGNOREHEADER 1""".format(ref_m1=ref_m1)
cursor.execute(copy_query)

con.close()

In [9]:
host = "prod-de-redshift-cluster.cgjabuq7ccxq.ap-south-1.redshift.amazonaws.com"
port = "5439"
db = "prod_db"
username = "dsg_kmbl227932_anashwara"
password = "68vZb^qC" # password for redshift
uri = f"postgresql://{username}:{password}@{host}:{port}/{db}"


with psycopg2.connect(uri) as conn:
    sql =  """
 with pre_mnth as (
 SELECT crn,
DATEADD(month, -1, current_date) as m1,
DATEADD(month, -2, current_date) as m2,
DATEADD(month, -3, current_date) as m3,
DATEADD(month, -4, current_date) as m4,
DATEADD(month, -5, current_date) as m5,
DATEADD(month, -6, current_date) as m6,
(( extract(year from m1 ) *100 )+extract(month from  m1)) as my1,
(( extract(year from m2 ) *100 )+extract(month from  m2)) as my2,
(( extract(year from m3 ) *100 )+extract(month from  m3)) as my3,
(( extract(year from m4 ) *100 )+extract(month from  m4)) as my4,
(( extract(year from m5 ) *100 )+extract(month from  m5)) as my5,
(( extract(year from m6 ) *100 )+extract(month from  m6)) as my6

from mydb.dsg_portfolio.fd_nu_scoring 
)

select a.crn,
sum(case when mnth_year=my1 then amb else null end ) as amb_1,
sum(case when mnth_year=my2 then amb else null end ) as amb_2,
sum(case when mnth_year=my3 then amb else null end ) as amb_3,
sum(case when mnth_year=my4 then amb else null end ) as amb_4,
sum(case when mnth_year=my5 then amb else null end ) as amb_5,
sum(case when mnth_year=my6 then amb else null end ) as amb_6


from pre_mnth a 
left join dsg_portfolio.mom_amb_tall b 
on a.crn=b.crn
and prodct_type='SBA'
group by a.crn
 
 """
    amb = pd.read_sql_query(sql, conn)

amb.to_csv(s3.open('s3://kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/amb/month={mnthid}/amb_{mnthid}.csv'.format(mnthid=mnthid), mode='wb'),index=False)
conn.close()

<ipython-input-9-f6ff247f060b>:45: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  amb = pd.read_sql_query(sql, conn)

In [10]:
amb.shape

(11700199, 7)

In [ ]:
# amb.to_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/amb/month={ref_m2}/amb_{ref_m2}.csv'.format(ref_m2=ref_m2), mode='wb'),index=False)
# conn.close()

In [11]:
host = "prod-de-redshift-cluster.cgjabuq7ccxq.ap-south-1.redshift.amazonaws.com"
port = "5439"
db = "prod_db"
username = "dsg_kmbl227932_anashwara"
password = "68vZb^qC" # password for redshift
uri = f"postgresql://{username}:{password}@{host}:{port}/{db}"


with psycopg2.connect(uri) as conn:
    sql =  """
 with pre_mnth as (
 SELECT crn,
DATEADD(month, -1, current_date::date) as m1,
DATEADD(month, -2, current_date::date) as m2,
DATEADD(month, -3, current_date::date) as m3,
DATEADD(month, -4, current_date::date) as m4,
DATEADD(month, -5, current_date::date) as m5,
DATEADD(month, -6, current_date::date) as m6,
(( extract(year from m1 ) *100 )+extract(month from  m1)) as my1,
(( extract(year from m2 ) *100 )+extract(month from  m2)) as my2,
(( extract(year from m3 ) *100 )+extract(month from  m3)) as my3,
(( extract(year from m4 ) *100 )+extract(month from  m4)) as my4,
(( extract(year from m5 ) *100 )+extract(month from  m5)) as my5,
(( extract(year from m6 ) *100 )+extract(month from  m6)) as my6

from mydb.dsg_portfolio.fd_nu_scoring  
)
select distinct
a.crn,
sum(case when monthid=my1 then cr_cnt else null end ) as cr_cnt_1,
sum(case when monthid=my2 then cr_cnt else null end ) as cr_cnt_2,
sum(case when monthid=my3 then cr_cnt else null end ) as cr_cnt_3,
sum(case when monthid=my4 then cr_cnt else null end ) as cr_cnt_4,
sum(case when monthid=my5 then cr_cnt else null end ) as cr_cnt_5,
sum(case when monthid=my6 then cr_cnt else null end ) as cr_cnt_6,

sum(case when monthid=my1 then cr_amt else null end ) as cr_amt_1,
sum(case when monthid=my2 then cr_amt else null end ) as cr_amt_2,
sum(case when monthid=my3 then cr_amt else null end ) as cr_amt_3,
sum(case when monthid=my4 then cr_amt else null end ) as cr_amt_4,
sum(case when monthid=my5 then cr_amt else null end ) as cr_amt_5,
sum(case when monthid=my6 then cr_amt else null end ) as cr_amt_6,

sum(case when monthid=my1 then dr_cnt else null end ) as dr_cnt_1,
sum(case when monthid=my2 then dr_cnt else null end ) as dr_cnt_2,
sum(case when monthid=my3 then dr_cnt else null end ) as dr_cnt_3,
sum(case when monthid=my4 then dr_cnt else null end ) as dr_cnt_4,
sum(case when monthid=my5 then dr_cnt else null end ) as dr_cnt_5,
sum(case when monthid=my6 then dr_cnt else null end ) as dr_cnt_6,

sum(case when monthid=my1 then dr_amt else null end ) as dr_amt_1,
sum(case when monthid=my2 then dr_amt else null end ) as dr_amt_2,
sum(case when monthid=my3 then dr_amt else null end ) as dr_amt_3,
sum(case when monthid=my4 then dr_amt else null end ) as dr_amt_4,
sum(case when monthid=my5 then dr_amt else null end ) as dr_amt_5,
sum(case when monthid=my6 then dr_amt else null end ) as dr_amt_6

from pre_mnth a 
left join dsg_portfolio.mom_tran_crdr b 
on a.crn=b.crn
group by a.crn 
 """
    tran = pd.read_sql_query(sql, conn)
print(tran.shape)
tran.to_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/crdr/month={mnthid}/crdr_{mnthid}.csv'.format(mnthid=mnthid), mode='wb'),index=False)
conn.close()

<ipython-input-11-1093319db76d>:63: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tran = pd.read_sql_query(sql, conn)

OperationalError: SSL connection has been closed unexpectedly

In [ ]:
tran.shape

In [12]:
host = "prod-de-redshift-cluster.cgjabuq7ccxq.ap-south-1.redshift.amazonaws.com"
port = "5439"
db = "prod_db"
username = "dsg_kmbl227932_anashwara"
password = "68vZb^qC" # password for redshift
uri = f"postgresql://{username}:{password}@{host}:{port}/{db}"


with psycopg2.connect(uri) as conn:
    sql =  """

select distinct  a.crn, b.occupation, dob, total_rv,c.first_credit_date,c.first_credit_amt,tier_cate, primary_miss

from mydb.dsg_portfolio.fd_nu_scoring  a 
left join prod_db.dsg_portfolio.base_dashboard_811 b 
on a.crn=b.crn
left join dsg_services.funding_file_monthly c 
on a.crn=c.crn
 where report_month =(select max(report_month) from prod_db.dsg_services.funding_file_monthly)
 and month=202412
 """.format(ref_m1=ref_m1)
    demogs = pd.read_sql_query(sql, conn)

demogs.to_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/demogs/month={mnthid}/demogs_{mnthid}.csv'.format(mnthid=mnthid), mode='wb'),index=False)
conn.close()

<ipython-input-12-81a612e5f559>:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  demogs = pd.read_sql_query(sql, conn)

In [13]:
demogs.shape

(11883900, 8)

In [14]:
demogs.shape

(11883900, 8)

In [15]:
host = "prod-de-redshift-cluster.cgjabuq7ccxq.ap-south-1.redshift.amazonaws.com"
port = "5439"
db = "prod_db"
username = "dsg_kmbl227932_anashwara"
password = "68vZb^qC" # password for redshift
uri = f"postgresql://{username}:{password}@{host}:{port}/{db}"


with psycopg2.connect(uri) as conn:
    sql =  """


    select distinct b.crn,
    sum(case when current_date - cast(login_time as date) <=90 then 1 else 0 end ) as login_3m,
    sum(case when current_date - cast(login_time as date) >90 then 1 else 0 end ) as login_6m


    from 

    dwh_dmrt.uc5_convenience_report_details_login a
    join mydb.dsg_portfolio.fd_nu_scoring  b 
    on a.crn=b.crn
    where current_date - cast(login_time as date) <=180
    group by b.crn
    """
    mb = pd.read_sql_query(sql, conn)

mb.to_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/mb/month={mnthid}/mb_{mnthid}.csv'.format(mnthid=mnthid), mode='wb'),index=False)
conn.close()

<ipython-input-15-c532415e6541>:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mb = pd.read_sql_query(sql, conn)

In [16]:
mb.shape

(9383743, 3)

In [17]:
host = "prod-de-redshift-cluster.cgjabuq7ccxq.ap-south-1.redshift.amazonaws.com"
port = "5439"
db = "prod_db"
username = "dsg_kmbl227932_anashwara"
password = "68vZb^qC" # password for redshift
uri = f"postgresql://{username}:{password}@{host}:{port}/{db}"


with psycopg2.connect(uri) as conn:
    sql =  """


    with
      rep_mnth as (
        select
          crn,
          max(report_month) as report_month
        from
          dwh_stg.stg_ebix_cibil_data_tl
        group by
          crn
      )
    select distinct
      a.crn,
      loan_status,
      date_opened,
      date_closed,
      loan_type,
      sanction_amount
    from
      dwh_stg.stg_ebix_cibil_data_tl a
      join rep_mnth b on a.crn = b.crn
      and a.report_month = b.report_month
      join mydb.dsg_portfolio.fd_nu_scoring c on a.crn = c.crn
    where
       loan_type in ('Credit Card','Home Loan','Personal Loan','Consumer Loan')
      and current_date > date_opened
      and (
        (date_closed - current_date) > 30
        or date_closed is null
      )
    """
    cibil = pd.read_sql_query(sql, conn)

cibil.to_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/cibil/month={mnthid}/cibil_{mnthid}.csv'.format(mnthid=mnthid), mode='wb'),index=False)
conn.close()

<ipython-input-17-201da5fcb957>:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cibil = pd.read_sql_query(sql, conn)

In [19]:
cibil.shape

(20714578, 6)

## Scoring

In [8]:
mnthid

'2025-4'

In [12]:
# fd_scoring=pd.read_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/fd_scoring/month={mnthid}/scoring_{mnthid}.csv'.format(mnthid=mnthid), mode='r'))

# demogs=pd.read_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/demogs/month={mnthid}/demogs_{mnthid}.csv'.format(mnthid=mnthid), mode='r'))

# amb=pd.read_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/amb/month={mnthid}/amb_{mnthid}.csv'.format(mnthid=mnthid), mode='r'))

tran=pd.read_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/crdr/month=2024-4/crdr_2024-4.csv000.csv'.format(mnthid=mnthid), mode='r'))

mb=pd.read_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/mb/month={mnthid}/mb_{mnthid}.csv'.format(mnthid=mnthid), mode='r'))

cibil=pd.read_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/cibil/month={mnthid}/cibil_{mnthid}.csv'.format(mnthid=mnthid), mode='r'))

In [13]:
import datetime as dt # for dt.today

In [14]:
from datetime import datetime

In [15]:
fd_scoring=fd_scoring.rename(columns={'fkycdate':'fkyc_date'})


demogs['dob']=pd.to_datetime(demogs['dob'])
demogs['first_credit_date']=pd.to_datetime(demogs['first_credit_date'])
demogs=demogs.drop_duplicates('crn')
df=pd.merge(fd_scoring,demogs,on='crn',how='left')


# df['reference_mnth']=pd.to_datetime(df['reference_mnth'])
df['dob']=pd.to_datetime(df['dob'])

df['age']=((datetime.today()-df['dob']).dt.days)/365

df['accnt_opn_date']=pd.to_datetime(df['accnt_opn_date'],format='ISO8601')
df['fkyc_date']=pd.to_datetime(df['fkyc_date'])
df['first_credit_date']=pd.to_datetime(df['first_credit_date'])


df['days_to_fkyc']=(df['fkyc_date']-df['accnt_opn_date']).dt.days

In [16]:
df.shape

(10721541, 14)

In [17]:
df['vintage_fkyc']=(datetime.today()-df['fkyc_date'])/np.timedelta64(30, 'D')
df['days_to_funding']=(df['accnt_opn_date']-df['first_credit_date']).dt.days

df.shape


mb['login_inc']=(mb['login_3m']-mb['login_6m'])/mb['login_6m']
mb['login_inc']=np.where(mb['login_6m']==0,mb['login_3m'],mb['login_inc'])


df=pd.merge(df,amb,on='crn', how='left')

df=pd.merge(df,tran,on='crn', how='left')


df=pd.merge(df,mb[['crn','login_3m','login_inc']],on='crn',how='left')

In [18]:

cibil_gp=cibil.groupby(['crn','loan_type']).agg({'loan_type':'count','sanction_amount':'sum'}).rename(columns={'loan_type':'count_loans'}).unstack()

cibil_gp.columns=cibil_gp.columns.to_series().str.join("_")

cibil_gp=cibil_gp.reset_index()
cibil_gp=cibil_gp.fillna(0)
cibil_gp=cibil_gp.rename(columns={'count_loans_Consumer Loan':'CD_cnt'
                         , 'count_loans_Credit Card':'CC_cnt',
       'count_loans_Home Loan':'HL_cnt', 'count_loans_Personal Loan':'PL_cnt',
       'sanction_amount_Consumer Loan':'CD_amt', 'sanction_amount_Credit Card':'CC_amt',
       'sanction_amount_Home Loan':'HL_amt', 'sanction_amount_Personal Loan':'PL_amt'
                        })

df=pd.merge(df,cibil_gp,how='left',on='crn')

In [19]:
df=df.drop_duplicates("crn")
df['amb_3m']=df[['amb_1','amb_2','amb_3']].mean(axis=1)
df['amb_6m']=df[['amb_4','amb_5','amb_6']].mean(axis=1)

df['amb_3m']=df['amb_3m'].fillna(0)
df['amb_bkt']=pd.cut(df['amb_3m'],bins=[-float('inf'),0,100,1000,5000,10000,50000,float('inf')],
       labels=['1. <=0','2. 1-100','3. 101-1k','4.1k-5k','5.5k-10k','6. 10k-50k','7. >50k'])

df['cr_cnt_3m']=df[['cr_cnt_1', 'cr_cnt_2', 'cr_cnt_3']].mean(axis=1)
df['cr_cnt_6m']=df[['cr_cnt_4', 'cr_cnt_5', 'cr_cnt_6']].mean(axis=1)
df['dr_cnt_3m']=df[['dr_cnt_1', 'dr_cnt_2', 'dr_cnt_3']].mean(axis=1)
df['dr_cnt_6m']=df[['dr_cnt_4', 'dr_cnt_5', 'dr_cnt_6']].mean(axis=1)

df['cr_amt_3m']=df[['cr_amt_1', 'cr_amt_2', 'cr_amt_3']].mean(axis=1)
df['cr_amt_6m']=df[['cr_amt_4', 'cr_amt_5', 'cr_amt_6']].mean(axis=1)
df['dr_amt_3m']=df[['dr_amt_1', 'dr_amt_2', 'dr_amt_3']].mean(axis=1)
df['dr_amt_6m']=df[['dr_amt_4', 'dr_amt_5', 'dr_amt_6']].mean(axis=1)

df['cr_cnt_diff']=df['cr_cnt_3m']-df['cr_cnt_6m']
df['cr_amt_diff']=df['cr_amt_3m']-df['cr_amt_6m']
df['dr_cnt_diff']=df['dr_cnt_3m']-df['dr_cnt_6m']
df['dr_amt_diff']=df['dr_amt_3m']-df['dr_amt_6m']

df['cr_cnt_inc_ratio']=(df['cr_cnt_3m']-df['cr_cnt_6m'])/df['cr_cnt_6m']
df['cr_amt_inc_ratio']=(df['cr_amt_3m']-df['cr_amt_6m'])/df['cr_amt_6m']
df['dr_cnt_inc_ratio']=(df['dr_cnt_3m']-df['dr_cnt_6m'])/df['dr_cnt_6m']
df['dr_amt_inc_ratio']=(df['dr_amt_3m']-df['dr_amt_6m'])/df['dr_amt_6m']


df['amb_1_3_mnth']=df['amb_1']/df['amb_3']
df['amb_1_3_mnth']=np.where(df['amb_1_3_mnth']==float('inf'),df['amb_1'],df['amb_1_3_mnth'])
df['amb_1_3_mnth']=df['amb_1_3_mnth'].fillna(0)


df['amb_3_6_diff']=(df['amb_3m']-df['amb_6m'])/df['amb_6m']
df['amb_3_6_diff']=np.where(df['amb_3_6_diff']==float('inf'),df['amb_3m'],df['amb_3_6_diff'])
df['amb_3_6_diff']=df['amb_3_6_diff'].fillna(0)

df['dr_cr_cnt_ratio']=df['dr_cnt_3m']/df['cr_cnt_3m']
df['dr_cr_cnt_ratio']=df['dr_cr_cnt_ratio'].fillna(0)


df['dr_cr_amt_ratio']=df['dr_amt_3m']/df['cr_amt_3m']
df['dr_cr_ats_ratio']=(df['dr_amt_3m']/df['dr_cnt_3m'])/(df['cr_amt_3m']/df['cr_cnt_3m'])
df['dr_cr_amt_ratio']=df['dr_cr_amt_ratio'].fillna(0)
df['dr_cr_ats_ratio']=df['dr_cr_ats_ratio'].fillna(0)
df['dr_cr_amt_ratio']=np.where(df['dr_cr_amt_ratio']==float('inf'),df['dr_amt_3m'],df['dr_cr_amt_ratio'])

In [20]:
df['occupation']=df['occupation'].replace({'Service - Private Sector':'Salaried',
    'Professional':'Salaried','Service - Public Sector':'Salaried',
    'Service - Government Sector':'Salaried','Self Employees Professional (SEP)':'Self Employed',
     'SENP - Job Worker':'Self Employed', 
       'Self Employees Professional (SEP)':'Self Employed', 'SENP - Retail Trader':'Self Employed',
       'SENP - Others':'Self Employed', 'SENP - Wholesale Trader':'Self Employed',
       'SENP - Service Industry':'Self Employed', 'Self Employed Non Professional':'Self Employed',
       'SENP - Distributor':'Self Employed', 'SENP - Manufacturer':'Self Employed','Business':  'Self Employed',
                                    'Non Working':'Others'                
    })

df['occupation']=df['occupation'].fillna('Others')

In [21]:
df.shape

(10721531, 80)

In [22]:
df['age']=(datetime.today()-df['dob']).dt.days/365
df['days_to_fkyc']=(df['fkyc_date']-df['accnt_opn_date']).dt.days
df['days_to_funding']=(df['first_credit_date']-df['accnt_opn_date']).dt.days
# df['primary_miss']=np.where(df['primary_miss']=='PRIMARY',1,0)

In [23]:
# removed 6m variables because of collinearity
# remove total rv
base=df[['crn', 
        'occupation', 
       'first_credit_amt', 'tier_cate',  'age', 'days_to_fkyc',
       'vintage_fkyc', 'days_to_funding', 
        'login_3m', 'login_inc', 'amb_3m',
       'amb_bkt', 'cr_cnt_3m',  'dr_cnt_3m', 
       'cr_amt_3m',  'dr_amt_3m', 'cr_cnt_diff',
       'cr_amt_diff', 'dr_cnt_diff', 'dr_amt_diff', 'cr_cnt_inc_ratio',
       'cr_amt_inc_ratio', 'dr_cnt_inc_ratio', 'dr_amt_inc_ratio',
       'dr_cr_cnt_ratio', 'dr_cr_amt_ratio', 'amb_1_3_mnth', 'amb_3_6_diff',
       'dr_cr_ats_ratio',
#          'dmat_tag', 'trdng_flag', 'gen_insurnc_tag', 'mf_final_tag','dc_flag'
         'CD_cnt', 'CC_cnt', 'HL_cnt', 'PL_cnt', 'CD_amt', 
       'CC_amt', 'HL_amt', 'PL_amt'
#          ,'sec_amb', 'sec_cr'
        ]]

In [24]:
base.shape

(10721531, 37)

In [25]:
cols=base.drop(columns=['days_to_fkyc','vintage_fkyc','days_to_funding','amb_bkt']).columns
for i in cols:
    print(i)
    base[i]=base[i].fillna(0)
    
base['days_to_funding']=base['days_to_funding'].fillna(999)
base=base.dropna(subset=['days_to_fkyc'],axis='index')

crn
occupation

<ipython-input-25-efc2690b4e54>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base[i]=base[i].fillna(0)

first_credit_amt
tier_cate
age
login_3m
login_inc
amb_3m
cr_cnt_3m
dr_cnt_3m
cr_amt_3m
dr_amt_3m
cr_cnt_diff
cr_amt_diff
dr_cnt_diff
dr_amt_diff
cr_cnt_inc_ratio
cr_amt_inc_ratio
dr_cnt_inc_ratio
dr_amt_inc_ratio
dr_cr_cnt_ratio
dr_cr_amt_ratio
amb_1_3_mnth
amb_3_6_diff
dr_cr_ats_ratio
CD_cnt
CC_cnt
HL_cnt
PL_cnt
CD_amt
CC_amt
HL_amt
PL_amt

<ipython-input-25-efc2690b4e54>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base['days_to_funding']=base['days_to_funding'].fillna(999)

In [26]:
base[['login_3m','login_inc']]=base[['login_3m','login_inc']].fillna(0)

In [27]:
def one_hot(df, cols,drop_og_variable=False):
    """
    df:pandas DataFrame
    cols: a list of columns to encode 
    return a DataFrame with one-hot encoding
    """
    for each in cols:
        dummies = pd.get_dummies(df[each], prefix=each, drop_first=drop_og_variable)
        dummies.replace({True:'1',False:'0'},inplace=True)
        df = pd.concat([df, dummies], axis=1)
    df.drop(cols,axis=1,inplace=True)
    return df

cols=['occupation','amb_bkt','tier_cate']
base=one_hot(base,cols,True)

In [28]:
cols= [ 'first_credit_amt', 'age', 'days_to_fkyc', 'vintage_fkyc',
       'days_to_funding', 'login_3m', 'login_inc', 'amb_3m', 'cr_cnt_3m',
       'dr_cnt_3m', 'cr_amt_3m', 'dr_amt_3m', 'cr_cnt_diff', 'cr_amt_diff',
       'dr_cnt_diff', 'dr_amt_diff', 'cr_cnt_inc_ratio', 'cr_amt_inc_ratio',
       'dr_cnt_inc_ratio', 'dr_amt_inc_ratio', 'dr_cr_cnt_ratio',
       'dr_cr_amt_ratio', 'amb_1_3_mnth', 'amb_3_6_diff', 'dr_cr_ats_ratio',
       'CD_cnt', 'CC_cnt', 'HL_cnt', 'PL_cnt', 'CD_amt', 'CC_amt', 'HL_amt',
       'PL_amt'
      ]

#### get the percentiles from train

In [29]:
import pickle

In [30]:


model_path="s3://kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/model_files/"
thres=pd.read_excel(s3.open(model_path+"thresholds_for_outliers.xlsx",mode='rb'))
# scaler = joblib.load(s3.open(model_path+"scaler.pkl"))
with s3.open(model_path+"scaler.pkl", 'rb') as f:
    scaler = pickle.load(f)
# model = joblib.load( s3.open(model_path+"rf_model_mar.pkl"))
with s3.open(model_path+"rf_model_mar.pkl", 'rb') as f:
    model = pickle.load(f)

In [31]:

for col in thres.Columns:
    percentile_0 = thres[thres['Columns']==col]['min'].values[0]

    percentile_1 = thres[thres['Columns']==col]['max'].values[0]
    print(col," ",percentile_0)
    print(col," ",percentile_1)

    base[col]=np.where(base[col]<percentile_0,percentile_0,base[col])
    base[col]=np.where(base[col]>percentile_1,percentile_1,base[col])

age   18.8465753424657
age   57.9738356164388
amb_1_3_mnth   0.0
amb_1_3_mnth   702.961283870932
amb_3_6_diff   -0.980079568566222
amb_3_6_diff   724.902831541166
amb_3m   0.360707885284999
amb_3m   155486.408626217
CC_amt   0.0
CC_amt   612345.100000003
CC_cnt   0.0
CC_cnt   7.0
CD_amt   0.0
CD_amt   120997.0
CD_cnt   0.0
CD_cnt   4.0
cr_amt_3m   0.0
cr_amt_3m   433116.472000001
cr_amt_diff   -157793.166666666
cr_amt_diff   203794.133333334
cr_amt_inc_ratio   -0.947212185229028
cr_amt_inc_ratio   70.6197982556029
cr_cnt_3m   0.0
cr_cnt_3m   126.666666666666
cr_cnt_diff   -37.3333333333333
cr_cnt_diff   49.0
cr_cnt_inc_ratio   -0.818181818181818
cr_cnt_inc_ratio   8.0
days_to_fkyc   0.0
days_to_fkyc   295.0
days_to_funding   0.0
days_to_funding   673.0
dr_amt_3m   0.0
dr_amt_3m   428001.299
dr_amt_diff   -153104.173166666
dr_amt_diff   197165.3465
dr_amt_inc_ratio   -0.941632275758707
dr_amt_inc_ratio   61.6947567050204
dr_cnt_3m   0.0
dr_cnt_3m   177.0
dr_cnt_diff   -58.3333333333333
dr_cnt_diff   75.3333333333333
dr_cnt_inc_ratio   -0.84
dr_cnt_inc_ratio   12.0833333333333
dr_cr_amt_ratio   0.0
dr_cr_amt_ratio   2.57254826595544
dr_cr_ats_ratio   0.0
dr_cr_ats_ratio   4.16497088967984
dr_cr_cnt_ratio   0.0
dr_cr_cnt_ratio   13.6153846153846
first_credit_amt   1.0
first_credit_amt   20000.0
HL_amt   0.0
HL_amt   2831126.3
HL_cnt   0.0
HL_cnt   1.0
login_3m   0.0
login_3m   1675.0
login_inc   -1.0
login_inc   315.0
PL_amt   0.0
PL_amt   805142.950000002
PL_cnt   0.0
PL_cnt   8.0
vintage_fkyc   3.16129032258064
vintage_fkyc   60.774193548387

In [32]:

scaled=scaler.transform(base[['days_to_fkyc',
 'vintage_fkyc',
 'login_3m',
 'login_inc',
 'amb_3m',
 'cr_cnt_3m',
 'dr_cnt_3m',
 'cr_amt_3m',
 'dr_amt_3m',
 'cr_amt_diff',
 'dr_cnt_diff',
 'dr_amt_diff',
 'cr_amt_inc_ratio',
 'dr_amt_inc_ratio',
 'dr_cr_cnt_ratio',
 'dr_cr_amt_ratio',
 'amb_1_3_mnth',
 'amb_3_6_diff',
 'dr_cr_ats_ratio',
 'CC_cnt',
 'PL_cnt',
 'CC_amt',
 'PL_amt',
 'amb_bkt_3. 101-1k',
 'amb_bkt_7. >50k']])

In [33]:
base.shape

(10721531, 50)

In [34]:
base.to_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/dataset/month={mnthid}/dataset_{mnthid}.csv'.format(mnthid=mnthid), mode='wb'),index=False)

In [35]:
# base=pd.read_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/dataset/month={ref_m1}/dataset_{ref_m1}.csv'.format(ref_m1=ref_m1), mode='r'))

In [36]:
base.shape

(10721531, 50)

In [37]:
y_pred=model.predict(scaled)
y_pred_proba=model.predict_proba(scaled)[:,1]
base['y_pred_proba']=y_pred_proba
base['y_pred']=y_pred

base['decile']=10-pd.qcut(base['y_pred_proba'], 10, labels = False) 
gp_total=base.groupby(['decile']).agg({'y_pred_proba':['count','max','min']}).reset_index()

[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done   9 tasks      | elapsed:    2.2s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:   16.0s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done   9 tasks      | elapsed:    2.2s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:   16.1s finished

In [39]:
host = "prod-de-redshift-cluster.cgjabuq7ccxq.ap-south-1.redshift.amazonaws.com"
port = "5439"
db = "prod_db"
username = "dsg_kmbl227932_anashwara"
password = "68vZb^qC" # password for redshift
uri = f"postgresql://{username}:{password}@{host}:{port}/{db}"


with psycopg2.connect(uri) as conn:
    sql =  """
with live_fd_crn as (
select distinct crn from 
mydb.dsg_portfolio.fd_nu_scoring

)

select * from 
(

select b.crn,

 max(amb_priority) as priority

from 
(select distinct crn 
from 
mydb.dsg_portfolio.fd_nu_scoring
)
 b 

left join 
(select crn,max(m10_cr_amb) as amb , (100*cume_dist() over (order by amb desc))::int  as amb_priority
 from dsg_portfolio.mom_amb where prodct_type='SBA' 
 and yr_id=2024
 group by crn) am 
on b.crn=am.crn


group by b.crn )
    """.format(ref_m1=ref_m1)
    persona = pd.read_sql_query(sql, conn)

persona.to_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/persona/month={mnthid}/persona_{mnthid}.csv'.format(mnthid=mnthid), mode='wb'),index=False)
conn.close()

<ipython-input-39-13eb231025c4>:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  persona = pd.read_sql_query(sql, conn)

In [33]:
# persona=pd.read_csv("/Users/kmbl227932/Downloads/scoring_persona_code-27092024061450-000.csv")
persona['persona']=persona[['spender_priority','saver_priority']].idxmin(skipna=True,axis=1)
# persona['persona']=np.where((persona['persona'].isna() & persona['investor']==1) , 'investor_priority',persona['persona'])
persona['persona']=np.where(persona['persona'].isna()  , 'Others',persona['persona'])

<ipython-input-33-4a878ed5280d>:2: FutureWarning: The behavior of DataFrame.idxmin with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  persona['persona']=persona[['spender_priority','saver_priority']].idxmin(skipna=True,axis=1)

In [34]:
persona['crn']=persona['crn'].astype('int')
base=pd.merge(base,persona[['crn','persona']],on='crn',how='left')

In [40]:
host = "prod-de-redshift-cluster.cgjabuq7ccxq.ap-south-1.redshift.amazonaws.com"
port = "5439"
db = "prod_db"
username = "dsg_kmbl227932_anashwara"
password = "68vZb^qC" # password for redshift
uri = f"postgresql://{username}:{password}@{host}:{port}/{db}"


with psycopg2.connect(uri) as conn:
    sql =  """
select distinct a.crn,cluster_name
from 
mydb.dsg_portfolio.fd_nu_scoring a 
left join
dsg_tpp_xsell.dmart_segment_mapping b 
on a.crn=b.crn

where updated_month='2025-01-01'
    """
    segment = pd.read_sql_query(sql, conn)

segment.to_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/segment/month={mnthid}/segment_{mnthid}.csv'.format(mnthid=mnthid), mode='wb'),index=False)
conn.close()

<ipython-input-40-306cc325de44>:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  segment = pd.read_sql_query(sql, conn)

In [41]:
segment.shape

(11694062, 2)

In [42]:
segment['crn']=segment['crn'].astype('int')

base=pd.merge(base,segment,on='crn',how='left')

In [43]:
# segmnt=pd.read_csv("/Users/kmbl227932/Downloads/scoring_segmentation-27092024055652-000.csv")




# base=pd.merge(base,segmnt,on='crn',how='left')

base['cluster_name'].value_counts(normalize=True)*100

# base[['crn','y_pred_proba','decile','cluster_name']].to_csv("fd_etb_nu_fullbase_29may24.csv",index=False)

cluster_name
Torchbearer(Engaged Salaried)    30.119392
Thriving Microbusiness           23.603267
Engaged Student                  16.837381
Digi-Spenders                    10.881977
Engaged Housewives                7.676969
Credit Hungry                     3.044822
Disengaged Salaried               2.308654
Credit Worthy                     1.909744
Disengaged Business               1.771449
Saver Housewives                  1.095318
Disengaged Student                0.751027
Name: proportion, dtype: float64

In [45]:

campaign_base=base[(base['decile'].isin([1,2,3,4]))| (base['decile'].isin([5,6,7,8]) &base['cluster_name'].isin(['Credit Hungry',
'Credit Worthy',
'Digi-Spenders_ ',
 'Disengaged Business', 'Disengaged Salaried', 'Disengaged Student',
'Saver Housewives']))][['crn','cluster_name','decile','amb_3m','y_pred_proba']]

In [46]:
# campaign_base.to_csv("fd_etb_nu_fullbase_nov24.csv",index=False)



campaign_base.to_csv(s3.open('kotak-811-cdp-peak-write/811-cdp-peak-main/datascience/td/td_monthly_campaigns/fd_nu/full_base/month={mnthid}/fullbase_{mnthid}.csv'.format(mnthid=mnthid), mode='wb'),index=False)

In [ ]:
campaign